{% load i18n %}{% autoescape off %}
    {% blocktrans %}You're receiving this email because you requested a password reset for your user account at
        Paperless-FCSIT.{% endblocktrans %}

    {% trans "Please go to the following page and choose a new password:" %}
    {% block reset_link %}
        {{ reset_password_url }}
    {% endblock %}
    {% trans "Your login username, in case you've forgotten, is :" %} {{ username }}

    {% trans "Thanks for using our site!" %}

    {% blocktrans %}The Paperless-FCSIT team{% endblocktrans %}

{% endautoescape %}